/* **************************** */


/* BUTTONS */


/* **************************** */

.button {
    background-color: $color-button;
    border: none;
    border-radius: $button-radius;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $button-padding;
    padding-top: $button-padding-top-bottom;
    padding-bottom: $button-padding-top-bottom;
}